<a href="https://colab.research.google.com/github/Saifullah785/python-for-data-analysis-notes/blob/main/chapter_02_Python_Language_Basics%2C_IPython%2C_and_Jupyter_Notebooks/chapter_02_Python_Language_Basics%2C_IPython%2C_and_Jupyter_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
import numpy as np
np.random.seed(12345) # Set a random seed for reproducibility
np.set_printoptions(precision=4, suppress=True) # Set print options for numpy arrays

In [98]:
import numpy as np
# Create a list of 7 random numbers from a standard normal distribution
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [99]:
# Create a list named 'a' with elements 1, 2, and 3.
a = [1, 2, 3]

In [100]:
# Assign the list 'a' to a new variable 'b'. 'b' now refers to the same list as 'a'.
b = a
b

[1, 2, 3]

In [101]:
# Append the integer 4 to the list 'a'. Since 'b' refers to the same list, 'b' will also show this change.
a.append(4)
b

[1, 2, 3, 4]

In [102]:
# Define a function named 'apend_element' that takes a list and an element as arguments.
# The function appends the element to the end of the list.
def apend_element(some_list, element):
    some_list.append(element)

In [103]:
# Create a list named 'data' with elements 1, 2, and 3.
data = [1, 2, 3]
# Call the 'apend_element' function to append 4 to the 'data' list.
apend_element(data, 4)
# Display the modified 'data' list.
data

[1, 2, 3, 4]

In [104]:
# Assign the integer 5 to the variable 'a'.
a = 5

# Check and display the type of the variable 'a'.
type(a)

int

In [105]:
a = "foo"

# Check and display the type of the variable 'a'.
type(a)

str

In [106]:
# This will cause a TypeError because you cannot concatenate a string and an integer directly.
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [12]:
a = 4.5
b = 2

# string formatting , to be visited later
print (f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [107]:
a = 5

# Check if the variable 'a' is an instance of the integer type.
isinstance(a, int)

True

In [108]:
a = 5; b = 4.5

# Check if variable 'a' is an instance of int or float.
isinstance(a, (int, float))
# Check if variable 'b' is an instance of int or float.
isinstance(b, (int, float))

True

In [109]:
# Assign the string "foo" to the variable 'a'.
a = "foo"

In [110]:
# Get the 'split' attribute of the string 'a'. This returns the built-in method for splitting strings.
getattr(a, "split")

In [111]:
# Define a function that checks if an object is iterable.
def isiterable(obj):
  try:
    # Attempt to get an iterator for the object. If successful, it's iterable.
    iter(obj)
    return True
  except TypeError:
    # If a TypeError occurs, the object is not iterable.
    return False

In [112]:
# Check if the string "a string" is iterable using the isiterable function.
isiterable("a string")

True

In [113]:
# Check if the list [1, 2, 3] is iterable using the isiterable function.
isiterable([1, 2, 3])

True

In [114]:
# Check if the integer 5 is iterable using the isiterable function.
isiterable(5)

False

In [115]:
# Perform subtraction.
5 - 7

# Perform addition with a float.
12 + 21.5

# Perform a less than or equal to comparison.
5 <= 2

False

In [116]:
# Create a list 'a'.
a = [1, 2, 3]
# Assign 'a' to 'b'. 'b' now refers to the same list object as 'a'.
b = a
# Create a new list 'c' by copying elements from 'a'. 'c' is a different list object.
c = list(a)

# Check if 'a' and 'b' refer to the same object in memory.
a is b

True

In [117]:
# Check if 'a' and 'c' do not refer to the same object in memory.
a is not c

True

In [118]:
# Check if the contents of list 'a' are equal to the contents of list 'c'.
a == c

True

In [119]:
# Assign the value None to the variable 'a'.
a = None
# Check if 'a' is None using the 'is' operator.
a is None

True

In [120]:
# Create a list named 'a_list'.
a_list = ['foo', 2, [4, 5]]

# Modify the element at index 2 of the list 'a_list' to a tuple.
a_list[2] = (3, 4)

# Display the modified list.
a_list

['foo', 2, (3, 4)]

In [121]:
# Create a tuple named 'a_tuple'. Tuples are immutable.
a_tuple = (3, 5, (4, 5))
# This will cause a TypeError because tuples do not support item assignment.
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [122]:
# Assign an integer value to the variable 'ival'.
ival = 17239871
# Calculate the sixth power of 'ival'.
ival ** 6

26254519291092456596965462913230729701102721

In [123]:
# Perform float division (division that results in a float).
3 / 2

1.5

In [124]:
# Perform integer division (division that results in an integer, discarding the remainder).
3 // 2

1

In [125]:
# Create a multiline string and assign it to the variable 'c'.
c = """
This is a longer string that
spans multiple lines
"""

In [126]:
# Count the number of newline characters ("\n") in the multiline string 'c'.
c.count("\n")

3

In [127]:
# Assign a string to the variable 'a'.
a = "this is a string"
# This will cause a TypeError because strings are immutable and do not support item assignment.
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [128]:
# Create a new string 'b' by replacing the substring "string" with "longer string" in the string 'a'.
b = a.replace("string", "longer string")
# Display the new string 'b'.
b

'this is a longer string'

In [129]:
# Display the original string 'a' to show that it was not modified by the replace method.
a

'this is a string'

In [130]:
# Assign a float value to the variable 'a'.
a = 5.6
# Convert the float 'a' to a string and assign it to the variable 's'.
s = str(a)
# Print the string 's'.
print(s)

5.6

In [131]:
# Assign a string to the variable 's'.
s = 'python'
# Convert the string 's' into a list of characters.
list(s)
# Slice the string 's' to get the first three characters.
s[:3]

'pyt'

In [132]:
# Assign a string with an escaped backslash to the variable 's'.
s = "12\\34"
# Print the string 's'. The escaped backslash is printed as a single backslash.
print(s)

12\34

In [133]:
# Assign a raw string to the variable 's'. Raw strings treat backslashes as literal characters.
s = r"this\has\no\special\characters"
# Display the raw string 's'. The backslashes are included in the string.
s

'this\\has\\no\\special\\characters'

In [134]:
# Assign the first part of a string to variable 'a'.
a = 'this is the first half '
# Assign the second part of a string to variable 'b'.
b = 'and this is the second half'
# Concatenate (join) the two strings 'a' and 'b'.
a + b

'this is the first half and this is the second half'

In [135]:
# Create a format string template with placeholders for different data types.
# {0: 2f} for a float with 2 decimal places, {1:s} for a string, {2:d} for an integer.
template = "{0: 2f} {1:s} are worth US${2:d}"

In [136]:
# This will cause an AttributeError because the method name 'formate' is misspelled.
# The correct method name is 'format'.
template.formate(88.46, "Argentine Pesos", 1)

AttributeError: 'str' object has no attribute 'formate'

In [137]:
# Assign an integer value to the variable 'amount'.
amount = 10
# Assign a float value to the variable 'rate'.
rate = 88.46
# Assign a string value to the variable 'currency'.
currency = "Pesos"
# Create a formatted string using an f-string to display the amount, currency, and equivalent USD value.
result = f"{amount} {currency} is worth US${amount / rate}"

In [138]:
# Use an f-string with a formatting specifier ":2f" to format the result of the division to 2 decimal places.
f"{amount} {currency} is worth US${amount / rate:2f}"

'10 Pesos is worth US$0.113045'

In [139]:
# Assign the string 'espanol' to the variable 'val'.
val = 'espanol'
# Display the value of 'val'.
val

'espanol'

In [140]:
# Encode the string 'val' into a sequence of bytes using the UTF-8 encoding.
val_utf8 = val.encode('utf-8')

In [141]:
# Encode the string 'val' using the latin1 encoding.
val.encode("latin1")
# Encode the string 'val' using the utf-16 encoding.
val.encode("utf-16")
# Encode the string 'val' using the utf-16 little-endian encoding.
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [142]:
# Evaluate the boolean expression "True and True". The 'and' operator returns True if both operands are True.
True and True

True

In [143]:
# Evaluate the boolean expression "False or True". The 'or' operator returns True if at least one operand is True.
False or True

True

In [144]:
# Convert the boolean value False to an integer. False is treated as 0.
int(False)
# Convert the boolean value True to an integer. True is treated as 1.
int(True)

1

In [145]:
# Assign boolean values to variables 'a' and 'b'.
a = True
b = False
# Evaluate the logical negation of 'a'.
not a
# Evaluate the logical negation of 'b'.
not b

True

In [146]:
# Assign a string representing a float to the variable 's'.
s = "3.14159"
# Convert the string 's' to a float and assign it to the variable 'fval'.
fval = float(s)
# Check and display the type of the variable 'fval'.
type(fval)

float

In [147]:
# Convert the float 'fval' to an integer. The decimal part is truncated.
int(fval)

3

In [148]:
# Convert the non-zero float 'fval' to a boolean. Non-zero numbers evaluate to True in a boolean context.
bool(fval)

True

In [149]:
# Convert the integer 0 to a boolean. 0 evaluates to False in a boolean context.
bool(0)

False

In [150]:
# Assign the value None to the variable 'a'.
a = None
# Check if 'a' is None using the 'is' operator.
a is None

True

In [151]:
# Assign an integer value to the variable 'b'.
b = 5
# Check if 'b' is not None using the 'is not' operator.
b is not None

True

In [152]:
# Import datetime, date, and time from the datetime module.
from datetime import datetime, date, time
# Create a datetime object with a specific year, month, day, hour, minute, and second.
dt = datetime(2025, 6, 22, 21, 34, 21)
# Access and display the day component of the datetime object.
dt.day

22

In [153]:
# Access and display the minute component of the datetime object.
dt.minute

34

In [154]:
# Get the date part of the datetime object as a date object.
dt.date()

datetime.date(2025, 6, 22)

In [155]:
# Get the time part of the datetime object as a time object.
dt.time()

datetime.time(21, 34, 21)

In [156]:
# Format the datetime object as a string using the specified format codes (%Y for year, %m for month, %d for day, %H for hour, %M for minute).
dt.strftime("%Y-%m-%d %H:%M")

'2025-06-22 21:34'

In [157]:
# Create a new datetime object by replacing the minute and second of the original datetime object 'dt' with 0.
dt_hour = dt.replace(minute=0, second=0)
# Display the new datetime object.
dt_hour

datetime.datetime(2025, 6, 22, 21, 0)

In [158]:
# Display the original datetime object 'dt' to show it remains unchanged by the replace method.
dt

datetime.datetime(2025, 6, 22, 21, 34, 21)

In [159]:
# Create another datetime object 'dt2'.
dt2 = datetime(2025, 6, 22, 21, 34, 21)
# Calculate the difference between 'dt2' and 'dt'. This results in a timedelta object.
delta = dt2 - dt
# Display the timedelta object.
delta
# Check and display the type of the 'delta' variable.
type(delta)

datetime.timedelta

In [160]:
# Display the original datetime object 'dt'.
dt
# Add the timedelta 'delta' to the datetime object 'dt'.
dt + delta

datetime.datetime(2025, 6, 22, 21, 34, 21)

In [161]:
# Assign integer values to variables a, b, c, and d.
a = 5; b = 7
c = 8; d = 4
# Check if the condition 'a < b or c > d' is True.
# Since 'a < b' (5 < 7) is True, the entire condition is True due to the 'or' operator.
if a < b or c > d:
  # If the condition is True, print "Made it".
  print('Made it')

Made it

In [162]:
# Evaluate a chained comparison. Python evaluates this as (4 > 3) and (3 > 2) and (2 > 1).
# Since all individual comparisons are True, the result is True.
4 > 3 > 2 > 1

True

In [163]:
# This code has a NameError because the variable 'j' is used before it is assigned a value.
# The inner loop iterates with variable 'i', not 'j'.
for i in range(4):
  for i in range(4):
    if j > i:
       break
    print((i, j))

NameError: name 'j' is not defined

In [164]:
# This will cause a NameError because 'rang' is misspelled. The correct function name is 'range'.
rang(10)

# Create a list from the numbers generated by range(10), which are integers from 0 up to (but not including) 10.
list(range(10))

NameError: name 'rang' is not defined

In [165]:
# Create a list from the numbers generated by range(0, 20, 21).
# This starts at 0, goes up to (but not including) 20, with a step of 21.
# Since the step is greater than the difference between start and stop, only the start value (0) is included.
list(range(0, 20, 21))
# Create a list from the numbers generated by range(5, 0, -1).
# This starts at 5, goes down to (but not including) 0, with a step of -1.
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [166]:
# Create a list named 'seq'.
seq = [1, 2, 3, 4]
# Iterate through the indices of the list 'seq' using range(len(seq)).
for i in range(len(seq)):
  # Print the index 'i' and the element at that index in the list.
  print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [167]:
# Initialize a variable 'total' to 0.
total = 0
# Iterate through a range of numbers from 0 up to (but not including) 100,000.
for i in range(100_000):
  # Check if the current number 'i' is divisible by 3 or 5 using the modulo operator (%).
  if i % 3 == 0 or i % 5 == 0:
    # If the number is divisible by 3 or 5, add it to the 'total'.
    total += i
# Print the final calculated total.
print(total)

2333316668