<a href="https://colab.research.google.com/github/Saifullah785/python-for-data-analysis-notes/blob/main/Chapter_03_Built_in_Data_Structures%2C_Functions%2C_and_Files/Chapter_03_Built_in_Data_Structures%2C_Functions%2C_and_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Built-in Data Structures, Functions,and Files**

## **3.1 Data Structures and Sequences**

**Tuple**

In [94]:
# Define a tuple with integer elements
tup = (4, 5, 6)

# Display the tuple
tup

(4, 5, 6)

In [95]:
# Define a tuple without parentheses (tuple packing)
tup = 4, 5, 6
# Display the tuple
tup

(4, 5, 6)

In [96]:
# Convert a list to a tuple
tuple([4, 0, 2])

# Convert a string to a tuple (each character becomes an element)
tup = tuple('string')

# Display the tuple
tup

('s', 't', 'r', 'i', 'n', 'g')

In [97]:
# Access an element of the tuple using its index
tup[0]

's'

In [98]:
# Define a nested tuple (a tuple containing other tuples)
nested_tup = ((4, 5, 6), (7, 8))

# Display the nested tuple
nested_tup

((4, 5, 6), (7, 8))

In [99]:
# Access the first element of the nested tuple (which is a tuple itself)
nested_tup[0]

(4, 5, 6)

In [100]:
# Access the second element of the nested tuple
nested_tup[1]

(7, 8)

In [101]:
# Define a tuple containing different data types, including a mutable list
tup = tuple(['foo', [1,2], True])

In [102]:
# Attempting to change an element of the tuple (will raise a TypeError because tuples are immutable)
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [103]:
# Appending an element to the list inside the tuple (the list is mutable, even though the tuple is not)
tup[1].append(3)

# Display the tuple after modifying the list within it
tup

('foo', [1, 2, 3], True)

In [104]:
# Concatenate tuples using the + operator
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [105]:
# Repeat a tuple using the * operator
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

**Unpacking tuples**

In [106]:
# Define a tuple
tup = (4, 5, 6)

# Unpack the tuple elements into individual variables
a, b, c = tup

# Display the value of variable c
c

6

In [107]:
# Define a tuple with a nested tuple
tup = 4, 5, (6, 7)

# Unpack the tuple, including the nested tuple
a, b, (c, d) = tup

# Display the value of variable c from the nested tuple
c

6

In [108]:
# Define a list of tuples
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# Iterate through the list and unpack each tuple into variables a, b, and c
for a, b, c in seq:
    # Print the unpacked values using an f-string
    print(f'a={a}, b={b}, c={c}')
    # Alternative way to print using .format()
    # print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [109]:
# Define a tuple
values = 1, 2, 3, 4, 5
# Unpack the first two elements into a and b, and the rest into a list called rest
a, b, *rest = values
# Display the value of a
a
# Display the value of b
b
# Display the value of rest
rest

[3, 4, 5]

In [110]:
# Unpack the first two elements and discard the rest using a dummy variable __
a, b, *__= values

**Tuple methods**

In [111]:
# Define a tuple
a = (1, 2, 2, 2, 3, 4, 2)
# Count the occurrences of the element 2 in the tuple
a.count(2)

4

**List**

In [112]:
# Define a list with mixed data types
a_list = [2, 3, 7, None]

# Define a tuple
tup = ('foo', 'bar', 'baz')

# Convert a tuple to a list
b_list = list(tup)

# Display the list
b_list

['foo', 'bar', 'baz']

In [113]:
# Change an element in the list
b_list[1] = 'peekaboo'
# Display the modified list
b_list

['foo', 'peekaboo', 'baz']

In [114]:
# Create a range object (a sequence of numbers)
gen = range(10)
# Display the range object
gen
# Convert the range object to a list
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Adding and removing elements**

In [115]:
# Append an element to the end of the list
b_list.append('dwarf')
# Display the modified list
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [116]:
# Append another element to the end of the list
b_list.append('red')
# Display the modified list
b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'red']

In [117]:
# Insert an element at a specific index in the list
b_list.insert(1, 'red')
# Display the modified list
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'red']

In [118]:
# Remove and return the element at a specific index in the list
b_list.pop(2)
# Display the modified list
b_list

['foo', 'red', 'baz', 'dwarf', 'red']

In [119]:
# Append an element to the end of the list
b_list.append('foo')
# Display the modified list
b_list

['foo', 'red', 'baz', 'dwarf', 'red', 'foo']

In [120]:
# Remove the first occurrence of a specific value from the list
b_list.remove('foo')
# Display the modified list
b_list

['red', 'baz', 'dwarf', 'red', 'foo']

In [121]:
# Check if an element exists in the list using the 'in' operator
"dwarf" in b_list

True

In [122]:
# Check if an element does not exist in the list using the 'not in' operator
"dwarf" not in b_list

False

**Concatenating and combining lists**

In [123]:
# Concatenate two lists using the + operator
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [124]:
# Define a list
x = [4, None, 'foo']
# Extend the list by appending all the items from another iterable
x.extend([7, 8, (2, 3)])
# Display the modified list
x

[4, None, 'foo', 7, 8, (2, 3)]

**Sorting**

In [125]:
# Define a list of numbers
a = [7, 2, 5, 1, 3]
# Sort the list in place (ascending order)
a.sort()
# Display the sorted list
a

[1, 2, 3, 5, 7]

In [126]:
# Define a list of strings
b = ['saw', 'small', 'He', 'foxes', 'six']
# Sort the list based on the length of the strings using the key argument
b.sort(key=len)
# Display the sorted list
b

['He', 'saw', 'six', 'small', 'foxes']

**Binary search and maintaining a sorted list**

In [167]:
import bisect

In [169]:
c = [1, 2, 2, 2, 3, 4, 7]

In [170]:
bisect.bisect(c, 2)

4

In [171]:
bisect.bisect(c, 5)

6

In [172]:
bisect.insort(c, 6)

In [173]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

**Slicing**

In [127]:
# Define a list
seq = [7, 2, 3, 7, 5, 6, 0, 1]
# Slice the list to get elements from index 1 up to (but not including) index 5
seq[1:5]

[2, 3, 7, 5]

In [128]:
# Replace a slice of the list with new values
seq[3:5] = [6, 3]
# Display the modified list
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [129]:
# Slice the list from the beginning up to (but not including) index 5
seq[:5]

[7, 2, 3, 6, 3]

In [130]:
# Slice the list from index 3 to the end
seq[3:]

[6, 3, 6, 0, 1]

In [131]:
# Slice the list to get the last 4 elements
seq[-4:]
# Slice the list using negative indices to get elements from the 6th from the end up to (but not including) the 2nd from the end
seq[-6:-2]

[3, 6, 3, 6]

In [132]:
# Slice the list with a step of 2 (every other element)
seq[::2]

[7, 3, 3, 0]

In [133]:
# Slice the list with a step of -1 to reverse the list
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

#**Built-in Sequence Functions**

**enumerate**

**dict**

In [134]:
# Create an empty dictionary
empty_dict = {}
# Create a dictionary with key-value pairs
d1 = {"a": "somw value", 'b': [1, 2, 3, 4]}
# Display the dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4]}

In [135]:
# Add a new key-value pair to the dictionary
d1[7] = 'an integer'
# Display the modified dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [136]:
# Access the value associated with the key 'b'
d1['b']

[1, 2, 3, 4]

In [137]:
# Add another key-value pair to the dictionary
d1[5] = 'some value'

# Display the modified dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [138]:
# Add yet another key-value pair to the dictionary
d1['dummy'] = 'another value'
# Display the modified dictionary
d1

{'a': 'somw value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [139]:
# Delete a key-value pair from the dictionary using the del keyword
del d1[5]
# Display the modified dictionary
d1

{'a': 'somw value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [140]:
# Remove a key-value pair from the dictionary and return the value using the pop() method
ret = d1.pop('dummy')
# Display the returned value
ret
# Display the modified dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [141]:
# Get a list of all keys in the dictionary
list(d1.keys())

['a', 'b', 7]

In [142]:
# Get a list of all values in the dictionary
list(d1.values())

['somw value', [1, 2, 3, 4], 'an integer']

In [143]:
# Get a list of key-value pairs (as tuples) in the dictionary
list(d1.items())

[('a', 'somw value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [144]:
# Update the dictionary with key-value pairs from another dictionary or iterable of key-value pairs
d1.update({'b': "foo", 'c': 12})
# Display the modified dictionary
d1

{'a': 'somw value', 'b': 'foo', 7: 'an integer', 'c': 12}

**Creating dicts from sequences**

In [145]:
# Create a zip object that pairs elements from two iterables
tuples = zip(range(5), reversed(range(5)))
# Display the zip object
tuples

In [146]:
# Convert the zip object to a dictionary
mapping = dict(tuples)
# Display the dictionary
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

**Default values**

In [147]:
# Define a list of words
words = ['apple', 'bat', 'bar', 'atom', 'book']

# Create an empty dictionary to store words grouped by their first letter
by_letter = {}

# Iterate through the list of words
for word in words:
    # Get the first letter of the word
    letter = word[0]
    # Check if the letter is already a key in the dictionary
    if letter not in by_letter:
        # If not, create a new key with the letter and a list containing the current word
        by_letter[letter] = [word]
    else:
        # If the letter is already a key, append the current word to the existing list
        by_letter[letter].append(word)

# Display the resulting dictionary
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [148]:
# Create an empty dictionary
by_letter = {}

# Iterate through the list of words
for word in words:
  # Get the first letter of the word
  letter = word[0]
  # Use setdefault() to get the list for the letter (creating an empty list if the key doesn't exist)
  # Then append the current word to the list
  by_letter.setdefault(letter, []).append(word)

# Display the resulting dictionary
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [149]:
# Import the defaultdict class from the collections module
from collections import defaultdict

# Create a defaultdict with a default factory of list (automatically creates a list for new keys)
by_letter = defaultdict(list)
# Iterate through the list of words
for word in words:
  # Append the word to the list associated with its first letter
  by_letter[word[0]].append(word)

# Display the resulting defaultdict
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

**Valid dict key types**

In [150]:
# Get the hash value of a string (strings are hashable)
hash("string")
# Get the hash value of a tuple containing hashable elements (tuples are hashable if their contents are hashable)
hash((1, 2,(2, 3)))
# Attempt to get the hash value of a tuple containing a list (will raise a TypeError because lists are mutable and thus not hashable)
hash((1, 2,[2, 3])) # Fails because list are mutable

TypeError: unhashable type: 'list'

In [151]:
# Create an empty dictionary
d = {}
# Add a key-value pair to the dictionary where the key is a tuple (tuples are hashable)
d[tuple([1, 2, 3])] = 5
# Display the dictionary
d

{(1, 2, 3): 5}

**set**

In [152]:
# Create a set from a list with duplicate elements (sets automatically remove duplicates)
set([2, 2, 2, 1, 3, 3])
# Create a set using set literal notation with duplicate elements
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [153]:
# Define two sets
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [154]:
# Perform a set union operation (elements in either set)
a.union(b)

# Perform a set union operation using the | operator
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [155]:
# Perform a set intersection operation (elements common to both sets)
a.intersection(b)
# Perform a set intersection operation using the & operator
a & b

{3, 4, 5}

In [156]:
# Create a copy of set a
c = a.copy()
# Perform an in-place union with set b
c |= b
# Display the modified set c
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [157]:
# Create a copy of set a
d = a.copy()
# Perform an in-place intersection with set b
d &= b
# Display the modified set d
d

{3, 4, 5}

In [158]:
# Define a list
my_data = [1, 2, 3, 4]
# Create a set containing a tuple created from the list (tuples are hashable, lists are not)
my_set = {tuple(my_data)}
# Display the set
my_set

{(1, 2, 3, 4)}

In [159]:
# Define a set
a_set = {1, 2, 3, 4, 5}

# Check if the set {1, 2, 3} is a subset of a_set
{1, 2, 3}.issubset(a_set)

True

In [160]:
# Check if a_set is a subset of the set {1, 2, 3}
a_set.issubset({1, 2, 3})

False

In [161]:
# Check if two sets are equal (order does not matter in sets)
{1, 2, 3} == {3, 2, 1}

True

**sorted**

In [162]:
# Sort a list (returns a new sorted list)
sorted([7, 1, 2, 6, 0, 3, 2])
# Sort a string (sorts the characters and returns a list of characters)
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

**zip**

In [163]:
# Define two lists
seq1 = ["foo", 'bar', "baz"]
seq2 = ['one', 'two', 'three']
# Create a zip object that pairs elements from seq1 and seq2
zipped = zip(seq1, seq2)
# Convert the zip object to a list of tuples
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [164]:
# Define a third list
seq3 = [False, True]
# Create a zip object that pairs elements from three lists (stops at the shortest list)
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [165]:
# Iterate over two sequences simultaneously using zip and get the index using enumerate
for index, (a, b) in enumerate(zip(seq1, seq2)):
    # Print the index and the paired elements
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

**reversed**

In [166]:
# Create a reversed iterator for a range of numbers
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]