<a href="https://colab.research.google.com/github/Saifullah785/python-for-data-analysis-notes/blob/main/Chapter_03_Built_in_Data_Structures%2C_Functions%2C_and_Files/Chapter_03_Built_in_Data_Structures%2C_Functions%2C_and_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Built-in Data Structures, Functions,and Files**

## **3.1 Data Structures and Sequences**

**Tuple**

In [136]:
# Define a tuple with integer elements
tup = (4, 5, 6)

# Display the tuple
tup

(4, 5, 6)

In [137]:
# Define a tuple without parentheses (tuple packing)
tup = 4, 5, 6
# Display the tuple
tup

(4, 5, 6)

In [138]:
# Convert a list to a tuple
tuple([4, 0, 2])

# Convert a string to a tuple (each character becomes an element)
tup = tuple('string')

# Display the tuple
tup

('s', 't', 'r', 'i', 'n', 'g')

In [139]:
# Access an element of the tuple using its index
tup[0]

's'

In [140]:
# Define a nested tuple (a tuple containing other tuples)
nested_tup = ((4, 5, 6), (7, 8))

# Display the nested tuple
nested_tup

((4, 5, 6), (7, 8))

In [141]:
# Access the first element of the nested tuple (which is a tuple itself)
nested_tup[0]

(4, 5, 6)

In [142]:
# Access the second element of the nested tuple
nested_tup[1]

(7, 8)

In [143]:
# Define a tuple containing different data types, including a mutable list
tup = tuple(['foo', [1,2], True])

In [144]:
# Attempting to change an element of the tuple (will raise a TypeError because tuples are immutable)
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [145]:
# Appending an element to the list inside the tuple (the list is mutable, even though the tuple is not)
tup[1].append(3)

# Display the tuple after modifying the list within it
tup

('foo', [1, 2, 3], True)

In [146]:
# Concatenate tuples using the + operator
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [147]:
# Repeat a tuple using the * operator
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

**Unpacking tuples**

In [148]:
# Define a tuple
tup = (4, 5, 6)

# Unpack the tuple elements into individual variables
a, b, c = tup

# Display the value of variable c
c

6

In [149]:
# Define a tuple with a nested tuple
tup = 4, 5, (6, 7)

# Unpack the tuple, including the nested tuple
a, b, (c, d) = tup

# Display the value of variable c from the nested tuple
c

6

In [150]:
# Define a list of tuples
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# Iterate through the list and unpack each tuple into variables a, b, and c
for a, b, c in seq:
    # Print the unpacked values using an f-string
    print(f'a={a}, b={b}, c={c}')
    # Alternative way to print using .format()
    # print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [151]:
# Define a tuple
values = 1, 2, 3, 4, 5
# Unpack the first two elements into a and b, and the rest into a list called rest
a, b, *rest = values
# Display the value of a
a
# Display the value of b
b
# Display the value of rest
rest

[3, 4, 5]

In [152]:
# Unpack the first two elements and discard the rest using a dummy variable __
a, b, *__= values

**Tuple methods**

In [153]:
# Define a tuple
a = (1, 2, 2, 2, 3, 4, 2)
# Count the occurrences of the element 2 in the tuple
a.count(2)

4

**List**

In [154]:
# Define a list with mixed data types
a_list = [2, 3, 7, None]

# Define a tuple
tup = ('foo', 'bar', 'baz')

# Convert a tuple to a list
b_list = list(tup)

# Display the list
b_list

['foo', 'bar', 'baz']

In [155]:
# Change an element in the list
b_list[1] = 'peekaboo'
# Display the modified list
b_list

['foo', 'peekaboo', 'baz']

In [156]:
# Create a range object (a sequence of numbers)
gen = range(10)
# Display the range object
gen
# Convert the range object to a list
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Adding and removing elements**

In [157]:
# Append an element to the end of the list
b_list.append('dwarf')
# Display the modified list
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [158]:
# Append another element to the end of the list
b_list.append('red')
# Display the modified list
b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'red']

In [159]:
# Insert an element at a specific index in the list
b_list.insert(1, 'red')
# Display the modified list
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'red']

In [160]:
# Remove and return the element at a specific index in the list
b_list.pop(2)
# Display the modified list
b_list

['foo', 'red', 'baz', 'dwarf', 'red']

In [161]:
# Append an element to the end of the list
b_list.append('foo')
# Display the modified list
b_list

['foo', 'red', 'baz', 'dwarf', 'red', 'foo']

In [162]:
# Remove the first occurrence of a specific value from the list
b_list.remove('foo')
# Display the modified list
b_list

['red', 'baz', 'dwarf', 'red', 'foo']

In [163]:
# Check if an element exists in the list using the 'in' operator
"dwarf" in b_list

True

In [164]:
# Check if an element does not exist in the list using the 'not in' operator
"dwarf" not in b_list

False

**Concatenating and combining lists**

In [165]:
# Concatenate two lists using the + operator
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [166]:
# Define a list
x = [4, None, 'foo']
# Extend the list by appending all the items from another iterable
x.extend([7, 8, (2, 3)])
# Display the modified list
x

[4, None, 'foo', 7, 8, (2, 3)]

**Sorting**

In [167]:
# Define a list of numbers
a = [7, 2, 5, 1, 3]
# Sort the list in place (ascending order)
a.sort()
# Display the sorted list
a

[1, 2, 3, 5, 7]

In [168]:
# Define a list of strings
b = ['saw', 'small', 'He', 'foxes', 'six']
# Sort the list based on the length of the strings using the key argument
b.sort(key=len)
# Display the sorted list
b

['He', 'saw', 'six', 'small', 'foxes']

**Binary search and maintaining a sorted list**

In [169]:
import bisect

In [170]:
# Define a sorted list
c = [1, 2, 2, 2, 3, 4, 7]

In [171]:
# Find the index where 2 can be inserted to maintain the sorted order
bisect.bisect(c, 2)

4

In [172]:
# Find the index where 5 can be inserted to maintain the sorted order
bisect.bisect(c, 5)

6

In [173]:
# Insert 6 into the sorted list c while maintaining sorted order
bisect.insort(c, 6)

In [174]:
# Display the modified list
c

[1, 2, 2, 2, 3, 4, 6, 7]

**Slicing**

In [175]:
# Define a list
seq = [7, 2, 3, 7, 5, 6, 0, 1]
# Slice the list to get elements from index 1 up to (but not including) index 5
seq[1:5]

[2, 3, 7, 5]

In [176]:
# Replace a slice of the list with new values
seq[3:5] = [6, 3]
# Display the modified list
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [177]:
# Slice the list from the beginning up to (but not including) index 5
seq[:5]

[7, 2, 3, 6, 3]

In [178]:
# Slice the list from index 3 to the end
seq[3:]

[6, 3, 6, 0, 1]

In [179]:
# Slice the list to get the last 4 elements
seq[-4:]
# Slice the list using negative indices to get elements from the 6th from the end up to (but not including) the 2nd from the end
seq[-6:-2]

[3, 6, 3, 6]

In [180]:
# Slice the list with a step of 2 (every other element)
seq[::2]

[7, 3, 3, 0]

In [181]:
# Slice the list with a step of -1 to reverse the list
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

#**Built-in Sequence Functions**

**enumerate**

**dict**

In [182]:
# Create an empty dictionary
empty_dict = {}
# Create a dictionary with key-value pairs
d1 = {"a": "somw value", 'b': [1, 2, 3, 4]}
# Display the dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4]}

In [183]:
# Add a new key-value pair to the dictionary
d1[7] = 'an integer'
# Display the modified dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [184]:
# Access the value associated with the key 'b'
d1['b']

[1, 2, 3, 4]

In [185]:
# Add another key-value pair to the dictionary
d1[5] = 'some value'

# Display the modified dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [186]:
# Add yet another key-value pair to the dictionary
d1['dummy'] = 'another value'
# Display the modified dictionary
d1

{'a': 'somw value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [187]:
# Delete a key-value pair from the dictionary using the del keyword
del d1[5]
# Display the modified dictionary
d1

{'a': 'somw value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [188]:
# Remove a key-value pair from the dictionary and return the value using the pop() method
ret = d1.pop('dummy')
# Display the returned value
ret
# Display the modified dictionary
d1

{'a': 'somw value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [189]:
# Get a list of all keys in the dictionary
list(d1.keys())

['a', 'b', 7]

In [190]:
# Get a list of all values in the dictionary
list(d1.values())

['somw value', [1, 2, 3, 4], 'an integer']

In [191]:
# Get a list of key-value pairs (as tuples) in the dictionary
list(d1.items())

[('a', 'somw value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [192]:
# Update the dictionary with key-value pairs from another dictionary or iterable of key-value pairs
d1.update({'b': "foo", 'c': 12})
# Display the modified dictionary
d1

{'a': 'somw value', 'b': 'foo', 7: 'an integer', 'c': 12}

**Creating dicts from sequences**

In [193]:
# Create a zip object that pairs elements from two iterables
tuples = zip(range(5), reversed(range(5)))
# Display the zip object
tuples

In [194]:
# Convert the zip object to a dictionary
mapping = dict(tuples)
# Display the dictionary
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

**Default values**

In [195]:
# Define a list of words
words = ['apple', 'bat', 'bar', 'atom', 'book']

# Create an empty dictionary to store words grouped by their first letter
by_letter = {}

# Iterate through the list of words
for word in words:
    # Get the first letter of the word
    letter = word[0]
    # Check if the letter is already a key in the dictionary
    if letter not in by_letter:
        # If not, create a new key with the letter and a list containing the current word
        by_letter[letter] = [word]
    else:
        # If the letter is already a key, append the current word to the existing list
        by_letter[letter].append(word)

# Display the resulting dictionary
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [196]:
# Create an empty dictionary
by_letter = {}

# Iterate through the list of words
for word in words:
  # Get the first letter of the word
  letter = word[0]
  # Use setdefault() to get the list for the letter (creating an empty list if the key doesn't exist)
  # Then append the current word to the list
  by_letter.setdefault(letter, []).append(word)

# Display the resulting dictionary
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [197]:
# Import the defaultdict class from the collections module
from collections import defaultdict

# Create a defaultdict with a default factory of list (automatically creates a list for new keys)
by_letter = defaultdict(list)
# Iterate through the list of words
for word in words:
  # Append the word to the list associated with its first letter
  by_letter[word[0]].append(word)

# Display the resulting defaultdict
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

**Valid dict key types**

In [198]:
# Get the hash value of a string (strings are hashable)
hash("string")
# Get the hash value of a tuple containing hashable elements (tuples are hashable if their contents are hashable)
hash((1, 2,(2, 3)))
# Attempt to get the hash value of a tuple containing a list (will raise a TypeError because lists are mutable and thus not hashable)
hash((1, 2,[2, 3])) # Fails because list are mutable

TypeError: unhashable type: 'list'

In [199]:
# Create an empty dictionary
d = {}
# Add a key-value pair to the dictionary where the key is a tuple (tuples are hashable)
d[tuple([1, 2, 3])] = 5
# Display the dictionary
d

{(1, 2, 3): 5}

**set**

In [200]:
# Create a set from a list with duplicate elements (sets automatically remove duplicates)
set([2, 2, 2, 1, 3, 3])
# Create a set using set literal notation with duplicate elements
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [201]:
# Define two sets
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [202]:
# Perform a set union operation (elements in either set)
a.union(b)

# Perform a set union operation using the | operator
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [203]:
# Perform a set intersection operation (elements common to both sets)
a.intersection(b)
# Perform a set intersection operation using the & operator
a & b

{3, 4, 5}

In [204]:
# Create a copy of set a
c = a.copy()
# Perform an in-place union with set b
c |= b
# Display the modified set c
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [205]:
# Create a copy of set a
d = a.copy()
# Perform an in-place intersection with set b
d &= b
# Display the modified set d
d

{3, 4, 5}

In [206]:
# Define a list
my_data = [1, 2, 3, 4]
# Create a set containing a tuple created from the list (tuples are hashable, lists are not)
my_set = {tuple(my_data)}
# Display the set
my_set

{(1, 2, 3, 4)}

In [207]:
# Define a set
a_set = {1, 2, 3, 4, 5}

# Check if the set {1, 2, 3} is a subset of a_set
{1, 2, 3}.issubset(a_set)

True

In [208]:
# Check if a_set is a subset of the set {1, 2, 3}
a_set.issubset({1, 2, 3})

False

In [209]:
# Check if two sets are equal (order does not matter in sets)
{1, 2, 3} == {3, 2, 1}

True

**sorted**

In [210]:
# Sort a list (returns a new sorted list)
sorted([7, 1, 2, 6, 0, 3, 2])
# Sort a string (sorts the characters and returns a list of characters)
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

**zip**

In [211]:
# Define two lists
seq1 = ["foo", 'bar', "baz"]
seq2 = ['one', 'two', 'three']
# Create a zip object that pairs elements from seq1 and seq2
zipped = zip(seq1, seq2)
# Convert the zip object to a list of tuples
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [212]:
# Define a third list
seq3 = [False, True]
# Create a zip object that pairs elements from three lists (stops at the shortest list)
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [213]:
# Iterate over two sequences simultaneously using zip and get the index using enumerate
for index, (a, b) in enumerate(zip(seq1, seq2)):
    # Print the index and the paired elements
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

**reversed**

In [214]:
# Create a reversed iterator for a range of numbers
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [215]:
# Define a list of strings
strings=['a','as','bat','car','dove','python']

# Create a new list containing uppercase strings from the original list
# where the length of the string is greater than 2
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [216]:
# Create a set of the unique lengths of the strings in the list
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [217]:
# Create a set of the unique lengths of the strings in the list using map
set(map(len, strings))

{1, 2, 3, 4, 6}

In [218]:
# Create a dictionary where keys are the strings and values are their indices in the list
loc_mapping = {val: index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [219]:
# Define a nested list of names
all_data = [['john', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [220]:
# Initialize an empty list to store names of interest
names_of_interest = []

# Iterate through the nested list of names
for names in all_data:
    # Create a list of names within the current sublist that contain 'a' at least twice
    enough_as = [name for name in names if name.count('a') >= 2]
    # Extend the names_of_interest list with the found names
    names_of_interest.extend(enough_as)

# Display the list of names of interest
names_of_interest

['Maria', 'Natalia']

In [221]:
# Create a list of names from the nested list that contain 'a' at least twice using a list comprehension
result = [name for names in all_data for name in names if name.count('a') >=2]

# Display the resulting list
result

['Maria', 'Natalia']

In [222]:
# Define a list of tuples
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
# Flatten the list of tuples into a single list using a list comprehension
flattened = [x for tup in some_tuples for x in tup]
# Display the flattened list
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [223]:
# Initialize an empty list to store the flattened elements
flattened = []

# Iterate through the list of tuples
for tup in some_tuples:
    # Iterate through each element in the tuple
    for x in tup:
        # Append the element to the flattened list
        flattened.append(x)

In [224]:
# Create a nested list comprehension to get a list of lists, where each inner list contains the elements of a tuple
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [225]:
# Define a simple function that adds two numbers
def my_function(x, y):
  return x + y

In [226]:
# Call the function with arguments 1 and 2
my_function(1, 2)

# Call the function and store the result in a variable
result = my_function(1, 2)

# Display the result
result

3

In [227]:
# Define a function that prints a value but does not explicitly return anything
def function_without_return(x):
  print(x)

# Call the function and store the result in a variable (will be None)
result = function_without_return("hello!")

# Print the value of the result variable
print(result)

hello!
None

In [228]:
# Define a function with default argument z
def my_function2(x, y, z=1.5):
  # Check if z is greater than 1
  if z > 1:
    # Return the product of z and the sum of x and y
    return z * (x + y)
  else:
    # Return the division of z by the sum of x and y
    return z / (x + y)

In [229]:
# Call the function with specified values for x, y, and z
my_function2(5, 6, z=0.7)

0.06363636363636363

In [230]:
# Call the function with specified values for x, y, and z
my_function2(3.14, 7, 3.5)

35.49

In [231]:
# Call the function with specified values for x and y, using the default value for z
my_function2(10, 20)

45.0

In [232]:
# Initialize an empty list outside the function
a = []

# Define a function that appends numbers from 0 to 4 to the list 'a'
def func():
  for i in range(5):
    a.append(i)

In [233]:
# Call the function 'func'
func()
# Display the list 'a'
a
# Call the function 'func' again
func()
# Display the list 'a' again (elements are appended to the existing list)
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [234]:
# Initialize variable 'a' to None
a = None
# Define a function to bind a new list to the global variable 'a'
def bind_a_variable():
  # Declare that 'a' is the global variable
  global a
  # Assign an empty list to the global variable 'a'
  a = []
# Call the function to modify the global variable 'a'
bind_a_variable()
# Print the value of the global variable 'a'
print(a)

[]

In [235]:
# Define a list of strings representing states
states = ['Alabama', 'Georgia!', "Georgia", 'Georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [236]:
import re

# Define a function to clean a list of strings
def clean_strings(strings):
  # Initialize an empty list to store the cleaned strings
  result = []
  # Iterate through the input list of strings
  for value in strings:
    # Remove leading/trailing whitespace
    value = value.strip()
    # Remove specified punctuation characters using regular expressions
    value = re.sub('[!#?]', "", value)
    # Capitalize the first letter of each word
    value = value.title()
    # Append the cleaned string to the result list
    result.append(value)
  # Return the list of cleaned strings
  return result

In [237]:
# Call the clean_strings function with the states list and display the result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [238]:
# Define a function to remove punctuation using regular expressions
def remove_punctuation(value):
  return re.sub("[!#?]", "", value)

# Define a list of cleaning operations (functions)
clean_ops = [str.strip, remove_punctuation, str.title]

# Define a function to apply a list of cleaning operations to a list of strings
def clean_strings(strings, ops):
  # Initialize an empty list to store the cleaned strings
  result = []

  # Iterate through the input list of strings
  for value in strings:
    # Iterate through the list of cleaning operations
    for function in ops:
      # Apply the current cleaning function to the value
      value = function(value)
    # Append the cleaned string to the result list
    result.append(value)
  # Return the list of cleaned strings
  return result

In [239]:
# Call the clean_strings function with the states list and the list of cleaning operations, and display the result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [240]:
# Apply the remove_punctuation function to each element in the states list using map
# Iterate through the results and print each cleaned string
for x in map (remove_punctuation, states):
  print(x)

Alabama
Georgia
Georgia
Georgia
FlOrIda
south carolina
West virginia

In [241]:
# Define a simple function that multiplies a number by 2
def short_function(x):
  return x * 2

# Define an equivalent anonymous function (lambda function)
equiv_anon = lambda x: x * 2

In [242]:
# Define a function that applies a given function to each element in a list
def apply_to_list(some_list, f):
  # Use a list comprehension to apply the function f to each element x in some_list
  return [f(x) for x in some_list]

# Define a list of integers
ints = [4, 0, 1, 5, 6]
# Apply the lambda function (multiply by 2) to each element in the ints list and display the result
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [243]:
# Define a list of strings
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [244]:
# Sort the list of strings in place based on the number of unique characters in each string
strings.sort(key=lambda x: len(set(list(x))))
# Display the sorted list
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [245]:
# Define a dictionary
some_dict = {'a': 1, 'b': 2, "c": 3}

# Iterate through the keys of the dictionary and print each key
for key in some_dict:
  print(key)

a
b
c

In [246]:
# Get an iterator for the keys of the dictionary
dict_iterator = iter(some_dict)
# Display the dictionary iterator object
dict_iterator

In [247]:
# Convert the dictionary iterator to a list and display it
list(dict_iterator)

['a', 'b', 'c']

In [248]:
# Define a generator function that yields the square of numbers from 1 up to n^2
def squares(n=10):
  # Print a message indicating the range of squares being generated
  print(f"Generating squares from 1 to {n ** 2}")
  # Iterate from 1 to n (inclusive)
  for i in range(1, n + 1):
    # Yield the square of the current number
    yield i ** 2

In [249]:
# Create a generator object by calling the squares function
gen = squares()
# Display the generator object
gen

In [250]:
# Iterate through the generator object and print each yielded value without a newline
for x in gen:
  print(x, end= "")

Generating squares from 1 to 100
149162536496481100

In [251]:
# Create a generator expression that yields the square of numbers from 0 to 99
gen = (x ** 2 for x in range(100))
# Display the generator expression object
gen

In [252]:
# Calculate the sum of squares of numbers from 0 to 99 using a generator expression
sum(x ** 2 for x in range(100))
# Create a dictionary where keys are numbers from 0 to 4 and values are their squares using a dictionary comprehension
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [253]:
import itertools
# Define a function to get the first letter of a string
def first_letter(x):
  return x[0]

# Define a list of names
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

# Group the names by their first letter using itertools.groupby
for letter, names in itertools.groupby(names, first_letter):
  # Print the first letter and the list of names starting with that letter
  print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [254]:
# Convert the string '1.2345' to a float
float('1.2345')

1.2345

In [255]:
# Attempt to convert the string 'something' to a float (will raise a ValueError)
float('something')

ValueError: could not convert string to float: 'something'

In [256]:
# Define a function that attempts to convert input to float and returns the original input if conversion fails
def attempt_float(x):
  try:
    # Attempt to convert the input to a float
    return float(x)
  except:
    # If any exception occurs during conversion, return the original input
    return x

In [257]:
# Call the attempt_float function with a valid float string and display the result
attempt_float('1.2345')

1.2345

In [258]:
# Call the attempt_float function with a non-float string and display the result
attempt_float('something')

'something'

In [259]:
# Define a function that attempts to convert input to float and returns the original input if a ValueError occurs
def attempt_float(x):
  try:
    # Attempt to convert the input to a float
    return float(x)
  except ValueError:
    # If a ValueError occurs during conversion, return the original input
    return x

In [260]:
# Call the attempt_float function with a tuple (will raise a TypeError)
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [261]:
# Define a function that attempts to convert input to float and returns the original input if a TypeError or ValueError occurs
def attempt_float(x):
  try:
    # Attempt to convert the input to a float
    return float(x)
  except (TypeError, ValueError):
    # If a TypeError or ValueError occurs during conversion, return the original input
    return x

In [262]:
# Define the path to the text file
path = 'segismundo.txt'
# Open the file in read mode with utf-8 encoding
f = open(path, encoding='utf-8')

In [263]:
# Open the file, read each line, remove trailing whitespace, and store in a list
lines = [x.rstrip() for x in open(path, encoding='utf-8')]
# Display the list of lines
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [264]:
# Close the file
f.close()

In [265]:
# Open the file using a with statement (ensures the file is closed automatically)
with open(path, encoding='utf-8') as f:
  # Read each line, remove trailing whitespace, and store in a list
  lines = [x.rstrip() for x in f]

In [266]:
# Open the file in text mode
f1 = open(path)
# Read the first 10 characters
f1.read(10)
# Open the file in binary mode
f2 = open(path, 'rb')
# Read the first 10 bytes
f2.read(10)

b'Sue\xc3\xb1a el '

In [267]:
# Get the current position of the file pointer in f1
f1.tell()
# Get the current position of the file pointer in f2
f2.tell()

10

In [268]:
import sys
# Get the default encoding of the system
sys.getdefaultencoding()

'utf-8'

In [269]:
# Move the file pointer in f1 to position 3
f1.seek(3)
# Move the file pointer in f1 to position 1
f1.seek(1)
# Get the current position of the file pointer in f1
f1.tell()

1

In [270]:
# Close the files
f1.close()
f2.close()

In [271]:
# Display the path variable
path

# Open a new file 'tmp.txt' in write mode
with open("tmp.txt", mode="w") as handle:
    # Write lines from the original file to 'tmp.txt' if the line length is greater than 1
    handle.writelines(x for x in open(path) if len(x) > 1)

# Open 'tmp.txt' in read mode
with open("tmp.txt") as f:
    # Read all lines into a list
    lines = f.readlines()

# Display the list of lines from 'tmp.txt'
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [272]:
import os
# Remove the file 'tmp.txt'
os.remove("tmp.txt")

In [273]:
# Open the file in text mode
with open(path) as f:
    # Read the first 10 characters
    chars = f.read(10)

# Display the characters read
chars
# Display the length of the characters read
len(chars)

10

In [274]:
# Open the file in binary mode
with open(path, mode="rb") as f:
    # Read the first 10 bytes
    data = f.read(10)

# Display the bytes read
data

b'Sue\xc3\xb1a el '

In [275]:
# Attempt to decode the bytes read as utf-8 (will raise an error because the byte sequence is incomplete for a utf-8 character)
data.decode("utf-8")
# Attempt to decode the first 4 bytes as utf-8 (will raise an error because the byte sequence is incomplete for a utf-8 character)
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [276]:
# Define the path for the sink file
sink_path = "sink.txt"
# Open the source file in read mode
with open(path) as source:
    # Open the sink file in exclusive creation mode ('x') with iso-8859-1 encoding
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        # Read the content from the source file and write to the sink file
        sink.write(source.read())

# Open the sink file in read mode with iso-8859-1 encoding
with open(sink_path, encoding="iso-8859-1") as f:
    # Read and print the first 10 characters
    print(f.read(10))

Sueña el r

In [277]:
# Remove the sink file
os.remove(sink_path)

In [278]:
# Open the file in read mode with utf-8 encoding
f = open(path, encoding='utf-8')
# Read the first 5 characters
f.read(5)
# Move the file pointer to position 4 (which is within a multi-byte character sequence)
f.seek(4)
# Attempt to read 1 character from the current position (will cause a decoding error)
f.read(1)
# Close the file
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte